/*Global CSS*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, SansSerif, serif;
    box-sizing: border-box;
}

/*Custom Color*/
:root {
    --theme-blue: #1278B7;
    --theme-green: #8CC63F;
    --theme-card-border-blue: #5da7d5;
    --section-desc-color-gray: #726e6e;
    --section-title-font-size: 2.5rem;
    --section-desc-font-size: 1.125rem;
}

/*Page Container Width Set*/
.container > :not(.footer, .hero), .footer-container, .hero-container {
    width: 80%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

/*Navbar CSS*/
.top-logo {
    width: 250px;
    height: 55px;
}

.top-logo img {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar .navItem {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navbar .navItem a {
    text-decoration: none;
    font-size: 1.063rem;
    color: #1374BB;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .navItem a:hover {
    color: var(--theme-green);
}

.active {
    color: var(--theme-green) !important;
}

.fa-plus:hover {
    color: var(--theme-green);
}

/*Hamburger Menu Styles*/
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/*Dropdown Menu Styles*/
.dropdown-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #e7e7e7;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu a {
    padding: 15px;
    text-decoration: none;
    color: #1374BB;
    font-size: 1.063rem;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/*Hero Section*/
.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero > img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 120, 183, 0.5);
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-body {
    width: 65%;
}

.hero-body h1 {
    font-size: 3.125rem;
    line-height: 54px;
    margin-bottom: 10px;
    color: white;
    text-transform: capitalize;
    background: transparent;
}

.hero-company-name {
    color: var(--theme-green);
    background: transparent;
}

.hero-body p {
    font-size: 1rem;
    line-height: 22px;
    color: white;
    background: transparent;
}

/*Schedule Button*/
.schedule-button {
    background-color: #8dd331;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
}

.schedule-button:hover {
    background-color: var(--theme-green);
    color: #fff;
}

/*Three Card Section*/
/*Card Container*/
.card-container {
    margin: -4rem 0; /*Will remove later*/
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    position: relative;
    z-index: 2;
}

/*Individual Card*/
.card {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    padding: 50px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.card-container .card h4 {
    font-size: 1.25rem;
}

.card-container .card p {
    font-size: 0.875rem;
    line-height: 22px;
}

/*Card Icons Inner Circle*/
.icon-inner-circle {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: auto;
    border: 1px solid var(--theme-blue);
    background-color: #faf3f47d;
}

/*Card Icons Outer Circle*/
.icon-outer-circle {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: auto;
    border: 1px solid var(--theme-blue);
    background-color: #faf3f47d;
}

/*Card Icon Color Change*/
.icon-inner-circle i {
    color: var(--theme-blue);
    font-size: 2.813rem;
    background-color: #faf3f47d;
}

/*Quality Service Section*/
/*Service Card*/
.quality-service h2 {
    color: var(--theme-blue);
    font-size: var(--section-title-font-size);
    line-height: 40px;
}

.quality-service > h4 {
    font-size: var(--section-desc-font-size);
    color: var(--section-desc-color-gray);
}

.quality-service {
    margin-top: 130px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.service-card-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.service-card {
    border: 1px solid var(--theme-card-border-blue);
    border-radius: 10px;
    padding: 15px 15px 35px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.service-card img {
    width: 65px;
}

.service-card h4 {
    font-size: 1.25rem;
}

.service-card p {
    font-size: 0.875rem;
    line-height: 22px;
}

/*Exclusive Products Section*/
.products-section > h2 {
    color: var(--theme-blue);
    font-size: var(--section-title-font-size);
    line-height: 40px;
}

.products-section > h4 {
    color: var(--section-desc-color-gray);
    font-size: var(--section-desc-font-size);
}

.products-section {
    margin-top: 60px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.product-card-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.product-card {
    border: 1px solid var(--theme-card-border-blue);
    border-radius: 10px;
    padding: 40px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.product-card img {
    width: 180px;
    height: 100%;
}

/*7 Years Experience*/
.experience-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.experience-container div h2 {
    color: var(--theme-blue);
    font-size: 1.875rem;
    font-weight: bolder !important;
}

.experience-container div p {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 20px;
}

.world-class-solutions {
    color: var(--theme-green) !important;
}

.experience-container div {
    width: 50%;
}

.experience-container div img {
    width: 100%;
}

/*Technology Used*/
.technology-container h2 {
    margin-top: 60px;
    color: var(--theme-blue);
    font-size: var(--section-title-font-size);
}

.technology-container p {
    margin-top: 20px;
    font-size: 1.25rem;
}

.technology-icons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 40px;
    justify-content: center;
    margin-top: 50px;
}

.technology-item img {
    width: 100%;
    height: 100%;
}

/*Trusted by Brands*/
.trusted-by-brands {
    margin-top: 60px;
}

.trusted-by-brands h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--theme-blue);
    font-size: var(--section-title-font-size);
}

.arrow {
    color: var(--theme-blue);
    font-weight: bolder;
    font-size: 40px;
}

.brand-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.brand-logos > img {
    height: 100%;
    width: auto;
}

.dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.dot-container > i {
    color: var(--theme-blue);
}

/*We are in Numbers Section*/
.numbers-container {
    margin-top: 60px;
}

.numbers-container > h2 {
    font-size: var(--section-title-font-size);
    color: var(--theme-blue);
    text-transform: uppercase;
    text-align: center;
}

.green-color-text {
    color: var(--theme-green);
}

.numbers-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
    margin-top: 40px;
}

.numbers-card {
    padding: 80px 10px;
    border: 2px solid var(--theme-card-border-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

.numbers-card h2 {
    color: black;
    font-size: 55px;
    font-weight: bolder !important;
    text-align: center;
}

.numbers-card h3 {
    color: var(--theme-blue);
    font-size: 30px;
    font-weight: bolder !important;
    text-align: center;
}

/*Footer*/
.footer {
    background-color: var(--theme-blue) !important;
    color: white;
    margin-top: 60px;
    padding: 100px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.footer-container > :first-child .footer-col-item {
    display: flex;
    column-gap: 15px;
    align-items: flex-start;
}

.footer-col-item {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.footer-col-item i {
    font-size: 25px;
    color: var(--theme-green);
}

.footer-col {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

/*Copyright*/
.copyright {
    border-top: 1px solid white;
    width: 70%;
    margin: 50px auto 0 auto;
    padding-top: 20px;
    text-align: center;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 1200px) {
    /*Styles for devices up to 1200px (laptop)*/
    .container > :not(.footer, .hero), .footer-container, .hero-container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    /*Styles for devices up to 768px (tablet)*/
    /*Navbar styles for tablet*/
    /* Responsive Styles for Hamburger Menu */
    .navbar .navItem {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        color: var(--theme-blue);
    }

    .show {
        display: flex;
    }

    .navbar .navItem a {
        margin-bottom: 15px;
    }


    /* Hero section styles for tablet */
    .hero {
        height: 400px;
    }

    .hero-body {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-body h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .hero-body p {
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .schedule-button {
        margin-top: 20px;
    }

    /*Card section styles for tablet*/
    .card-container {
        flex-direction: column;
        row-gap: 5px;
    }

    .card {
        padding: 30px 15px;
        margin-top: 30px;
    }

    .icon-outer-circle,
    .icon-inner-circle {
        width: 60px;
        height: 60px;
    }

    .icon-inner-circle i {
        font-size: 2rem;
    }

    /*Quality Service, Product Section, Technology Used section, Numbers Container styles for tablet*/
    .quality-service {
        margin-top: 100px;
    }

    .quality-service h2, .products-section h2, .technology-container h2, .numbers-container h2 {
        font-size: 1.75rem;
        line-height: 20px;
    }

    .service-card-container {
        margin-top: 10px;
        flex-direction: column;
        row-gap: 20px;
    }

    .service-card {
        padding: 20px 15px 40px 15px;
    }

    .service-card img {
        width: 50px;
    }

    /*Exclusive Products section styles for tablet*/
    .product-card-container {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 10px;
    }

    .product-card {
        padding: 30px 15px 60px 15px;
        row-gap: 10px;
    }

    /*7 Years Experience section styles for tablet*/
    .experience-container {
        flex-direction: column;
        row-gap: 35px;
    }

    .experience-container div h2 {
        font-size: 1.5rem;
    }

    .experience-container div,
    .experience-container div img {
        width: 100%;
    }

    /*Technology Used section styles for tablet*/
    .technology-icons-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 20px;
        margin-top: 30px;
    }

    .technology-item img {
        width: 100px;
    }

    /*Trusted by Brands section styles for tablet*/
    .trusted-by-brands h2 {
        font-size: 1.5rem;
    }

    .arrow {
        font-size: 30px;
    }

    .brand-logos > img {
        width: 80px;
    }

    .dot-container {
        column-gap: 5px;
    }

    .dot-container > i {
        font-size: 8px;
    }

    /*We are in Numbers section styles for tablet*/
    .numbers-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }

    .numbers-card {
        padding: 35px 10px;
        row-gap: 30px;
    }

    .numbers-card h2 {
        font-size: 35px;
    }

    .numbers-card h3 {
        font-size: 20px;
    }

    /*Footer section styles for tablet*/
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
    }

    .footer-col h4 {
        margin-bottom: 5px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    /*Styles for devices up to 480px (mobile)*/
    /*Navbar styles for mobile*/
    .top-logo {
        height: 100%;
    }

    .top-logo img {
        width: 180px;

    }

    .dropdown-menu {
        top: 70px !important;
    }

    .navbar .navItem {
        flex-direction: column;
        column-gap: 0;
    }

    .navbar .navItem a {
        margin-bottom: 15px;
    }

    /*Hero section styles for mobile*/
    .hero img {
        height: 100%;
    }

    .hero-body h1 {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .hero-body p {
        font-size: 0.75rem;
        line-height: 1.3;
    }

    .schedule-button {
        margin-top: 15px;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    /*Card section styles for mobile*/
    .card {
        padding: 20px 15px;
    }

    .icon-outer-circle,
    .icon-inner-circle {
        width: 50px;
        height: 50px;
    }

    .icon-inner-circle i {
        font-size: 1.5rem;
    }

    /*Quality Service section styles for mobile*/
    .quality-service h2, .products-section h2 {
        font-size: 1.25rem;
    }

    .quality-service h4, .products-section h4 {
        font-size: 1rem;
    }

    .service-card {
        padding: 15px 15px 30px 15px;
    }

    .service-card img {
        width: 40px;
    }

    /*Exclusive Products section styles for mobile*/
    .product-card {
        padding: 20px 15px 40px 15px;
    }

    .product-card img {
        width: 120px;
    }

    /*7 Years Experience section styles for mobile*/
    .experience-container div,
    .experience-container div img {
        width: 100%;
    }

    .experience-container div p {
        font-size: 1rem;
    }

    /*Technology Used section styles for mobile*/
    .technology-icons-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 15px;
    }

    /*Trusted by Brands section styles for mobile*/
    .trusted-by-brands h2 {
        font-size: 1.25rem;
    }

    .arrow {
        font-size: 25px;
    }

    .brand-logos > img {
        width: 60px;
    }

    .dot-container {
        column-gap: 5px;
    }

    .dot-container > i {
        font-size: 6px;
    }

    /*We are in Numbers section styles for mobile*/
    .numbers-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 15px;
        margin-top: 25px;
    }

    .numbers-card {
        padding: 30px 10px;
        row-gap: 20px;
    }

    .numbers-card h2 {
        font-size: 25px;
    }

    .numbers-card h3 {
        font-size: 15px;
    }

    /*Footer styles for mobile*/
    .footer {
        padding: 60px 0;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
}




